#header {
    background: url(../../assets/banners/about-banner.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

#header h1 {
    margin: 0;
    color: #fff;
    font-size: 135px;
    position: absolute;
    text-align: center;
    line-height: 111px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(-15deg);
}

#welcome h3 {
    font-size: 30px;
    width: 58%;
    line-height: 1.3;
}

#welcome p {
    font-size: 16px;
    text-align: center;
    width: 55%;
    margin: 40px auto;
    line-height: 1.7;
    color: #6b6b6b;
}

#about-details {
    margin-bottom: 70px;
    padding: 25px;
}

#about-details p {
    font-size: 16px;
    color: #555;
    line-height: 1.85;
    padding: 0 27px 15px;
}

#about-details img {
    display: block;
    width: 100%;
}



div#about-quote h3 {
    font-size: 30px;
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6b6b6b;
}

div#about-quote {
    height: 395px;
    background: url('../../assets/about/about-wc.jpg') 11px center no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
    #welcome h3 {
        font-size: 30px;
        width: 90%;
    }
    #about-details {
        margin-bottom: 25px;
        padding: 25px;
    }
    #about-details p {
        font-size: 16px;
        color: #6b6b6b;
        line-height: 2;
        padding: 15px 0;
    }
    #welcome p {
        font-size: 16px;
        text-align: center;
        width: 90%;
        margin: 50px auto;
        line-height: 1.7;
        color: #6b6b6b;
    }
    div#about-quote h3 {
        width: 85%;
    }
    #about-details img {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }
    #header h1 {
        font-size: 90px !important;
    }
}