#header {
    background: url(../../assets/banners/contact-banner.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

#header h1 {
    margin: 0;
    color: #fff;
    font-size: 125px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(-15deg);
}

#welcome h3 {
    font-size: 30px;
    width: 60%;
    line-height: 1.3;
    margin-bottom: 55px;
    margin-top:50px;
}

.line {
    height: 1px;
    background: #e9e9e9;
    width: 100%;
}

#welcome p {
    font-size: 16px;
    text-align: center;
    width: 65%;
    margin: 40px auto;
    line-height: 1.7;
    color: #6b6b6b;
}

div#contact-details {
    width: 100%;
    margin: 50px auto 100px;
    max-width: 845px;
    color: #6b6b6b;
    font-size: 14px;
    padding: 15px;
    padding-top: 0;
}

#contact-details > div p {
    margin: 0 0 30px 0;
    line-height: 1.8;
}

p.helper {
    font-style: italic;
    font-size: 12px;
    color: #6a6a6a;
    padding: 0 !important;
    margin: 10px 0 !important;
}

#contact-details label span {
    color: #dc0030;
    font-size: 13px;
    font-weight: bold;
}

#contact-details .form-section {
    margin: 0 0 25px 0;
}

#contact-details form {
    padding: 0;
}

#contact-details input,
#contact-details textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 13px;
    margin-top: 5px;
    font-size: 14px;
}

#contact-details label {
    font-weight: bold;
    font-size: 13px;
    display: block;
    color: #444;
    margin-bottom: 7px;
    font-family: 'Open Sans';
}

#contact-details > div:nth-child(2) {
    padding: 20px 60px;
}

div#contact-details:after {
    content: '';
    display: block;
    clear: both;
}

button#submit, input#submit {
    width: 90%;
    max-width: 250px;
    color: #fff;
    border: 0;
    background: #96000e;
    font-weight: normal;
    padding: 17px;
    border-radius: 50px;
    font-size: 18px;
    margin-top: 25px;
    outline: 0;
}

@media screen and (max-width:600px) {
    #header h1 {
        font-size: 60px !important;
        line-height: 70px;
    }
}

@media screen and (max-width:767px) {
    #details {
        text-align: center;
        border-top: 1px dotted #ddd;
        margin-top: 50px;
    }
    #details p {
        display: inline-block;
        vertical-align: top;
        padding: 0 35px;
    }
}

@media screen and (max-width:500px) {
    #details {
        padding: 0 !important;
    }
    #details p {
        display: block;
        vertical-align: top;
        padding: 0 15px;
        width: 100%;
        text-align: left;
    }
}