#header {
    background: url(../../assets/banners/faq-banner.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

#header h1 {
    margin: 0;
    color: #fff;
    font-size: 100px;
    position: absolute;
    text-align: center;
    line-height: 100px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(-15deg);
}


#welcome h3 {
    font-size: 30px;
    width: 60%;
    line-height: 1.3;
    margin-top:50px;
}

#welcome p {
    font-size: 16px;
    text-align: center;
    width: 58%;
    margin: 40px auto;
    line-height: 1.7;
    color: #6b6b6b;
}

#welcome p a {
    text-decoration: none;
    color:#96000e;
    font-weight: bold;
}


#faq-details {
    width:85%;
    max-width:785px;
    margin:50px auto 150px;
}

#faq-details li {
    padding: 25px 35px;
    border: 2px solid #f3f2f2;
    border-radius: 5px;
    margin-bottom:5px;
}


#faq-details ul li.active {
    border: 2px solid #96000e;
    
    transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    -ms-transition:all 0.4s;
    -webkit-transition:all 0.4s;
}


#faq-details li.active p.faq-title {
    color: #96000e;
}

p.faq-title {
    position: relative;
    padding: 15px 0;
    font-weight: bold;
    color: #555;
    padding-right: 20px;
    cursor: pointer;
}

p.faq-title.active {
    color: #96000e;
    transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    -ms-transition:all 0.4s;
    -webkit-transition:all 0.4s;
}

p.faq-detail {
    color: #555;
    padding: 20px 0 10px;
    line-height: 1.8;
    font-size: 14px;
    display: none;
}

#faq-details ul li.active p.faq-title span.plus{
    display:block;
}

#faq-details ul li.active p.faq-title span.minus{
    display:none;
}

#faq-details ul li.active p.faq-title.active  span.plus{
    display:none;
}

#faq-details ul li.active p.faq-title.active  span.minus{
    display:block;
}

span.absolute.f-bariol {
    position: absolute;
    padding: 7px 0;
    top: 50%;
    right: 0;
    color: #96000e;
    font-size: 20px;
    transform:translateY(-50%);
}




@media screen and (max-width:905px){
    #header h1 {
        font-size:80px;
    }
}

@media screen and (max-width:728px){
    #header h1 {
        font-size:60px;
        line-height:60px;
    }
}

@media screen and (max-width:640px){
    #welcome p, #welcome h3 {
        width:85%;
    }
}