#header {
    background: url(../../assets/banners/gallery-banner.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

#header h1 {
    margin: 0;
    color: #fff;
    font-size: 160px;
    position: absolute;
    text-align: center;
    line-height: 111px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(-15deg);
}

#welcome h3 {
    font-size: 30px;
    width: 60%;
    line-height: 1.3;
}

#welcome p {
    font-size: 16px;
    text-align: center;
    width: 65%;
    margin: 30px auto 0;
    line-height: 1.7;
    color: #6b6b6b;
}


#gallery {
    background: url(../../assets/gallery/gallery-wc.jpg) top center no-repeat;
    background-size: contain;
    padding:35px;
    margin-top:35px;
    margin-bottom:175px;
}

.grid-sizer{
    width:42%;
}

.gutter-sizer {
    width:8%;
}


.grid {
    width:100%;
    padding:0;
}

.grid-item {
    width:50%;
    padding: 0;
}

.grid-item img {
    display:block;
    width:100%;
    padding:2.5%;
}


.gallery-filters li {
    display: inline-block;
    padding: 20px 50px;
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 16px;
    min-width: 235px;
    cursor: pointer;
}

.gallery-filters {
    margin-bottom: 35px;
    margin-top: 20px;
}

.gallery-filters li.active {
    color:#96000e;
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    #welcome h3 {
        font-size: 30px;
        width: 90%;
    }
    #header h1 {
        font-size: 90px !important;
    }
}



@media screen and (max-width: 640px) {
  /* 5 columns for larger screens */
  .grid-sizer { width: 100%; }
    .grid-item {
    width:100%;
    padding: 0;
}
}