@media screen and (max-width:991px) {
    div#overlay-wc-rates,
    div#overlay-wc-home,
    div#overlay-wc-main {
        display: none;
    }
    .welcome h3 {
        margin: 10px auto 0;
        color: #6b6b6b;
        font-size: 19px;
        width: 80%;
        text-align: center;
        line-height: 1.5;
    }
    #welcome img {
        display: none;
    }
    #main {
        height: auto;
        margin-top: 30px;
    }
    #main p {
        float: none;
        position: relative;
        top: 0;
        width: 80%;
        transform: translate(-50%, 0);
        text-align: center;
        left: 50%;
        margin: 0 0 30px 0;
    }
    #main img {
        width: 100%;
        max-width: 500px;
        position: relative;
        float: none;
        top: 0;
        left: 0;
        display: block;
        margin: 0 auto;
        right: 0;
    }
    /* ----- */
    #rates > img {
        display: none;
    }
    .rate-tiles a.tile {
        text-align: center;
    }
    #rates .rate-tiles {
        top: 0;
        position: relative;
        transform: translate(0, 0);
        margin: 50px 0;
    }
    #rates .rate-tiles a {
        padding: 35px 15px;
    }
    #rates .rate-tiles a > p {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }
    #rates .rate-tiles a > h3 {
        margin-bottom: 14px;
    }
    /*----*/
    #quick-tour .baluster-content h2 {
        font-size: 120px;
    }
    img.baluster-left,
    img.baluster-right {
        display: none;
    }
    .baluster-bg-wrap {
        width: 100% !important;
    }
    /* --- */
    #contact-row img {
        display: none;
    }
    #contact-row .contact-row-wrap > div {
        text-align: center;
        padding: 15px;
    }
}

@media screen and (max-width:767px) {
    #rates .rate-tiles {
        padding: 0;
    }
}

@media screen and (max-width:640px) {
    .banner-title h1 {
        font-size: 110px !important;
        line-height: 70px !important;
        padding: 0 20px;
    }
    
    .slick-dots {
        display: none !important;
    }
    /* */
    #welcome h2 {
        font-size: 21px;
        margin-top: 0px;
    }
    #welcome h1 {
        font-size: 70px;
    }
    /* */
    .baluster-content h2 {
        font-size: 80px !important;
    }
    .baluster-content {
        width: 100%;
    }
    .baluster-content a {
        width: 100%;
        margin-top: 20px;
    }
    #mask-gallery.active {
        width: 90% !important;
    }
    .contact-row-wrap {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 45px 0;
    }
}

@media screen and (max-width:449px) {
    .banner-title h1 {
        font-size: 90px !important;
        line-height: 60px !important;
        padding: 0 20px;
    }
}