/* =============
    BANNER 
============= */

#header {
    position: relative;
    width: 100%;
}

/*.header-wrap {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}*/


.header-wrap {
    width: 100%;
    max-width: 1100px;
    margin: -1px auto 0;
    z-index: 10;
    position: relative;
    height: 1px;
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    display: block;
}

#promo-tag {
    position: absolute;
    width: 200px;
    height: 263px;
    background: url('../../assets/promo-tag.png') 0 0 no-repeat;
    top: 0;
    right: 0;
    z-index: 10;
}

.banner-title {
    position: relative;
    text-align: center;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.banner-title h1 {
    font-family: 'awesome-script';
    font-size: 143px;
    color: #fff;
    line-height: 90px;
    margin-bottom: 110px;
    margin-top: 35px;
    /* --- */
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.banner-title h1.change {
    transform: translate(0, -20%);
    opacity: 0;
    transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.47;
    -ms-transition: all 0.7s;
    -webkit-transition: all 0.7s;
}

.banner-title a {
    display: inline-block;
    background: #d10013;
    font-family: 'Playfair Display';
    font-size: 18px;
    text-align: center;
    padding: 15px;
    width: 80%;
    max-width: 250px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    
    opacity: 1;
    transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.47;
    -ms-transition: all 0.7s;
    -webkit-transition: all 0.7s;
}

.banner-title a.change {
    opacity: 0;
    transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.47;
    -ms-transition: all 0.7s;
    -webkit-transition: all 0.7s;
}

#header .slide {
    height: 720px;
    width: 100%;
}


/*.slide-one {
    background: url('../../assets/banners/home-slide1.jpg') center center no-repeat;
    background-size: cover;
}

.slide-two {
    background: url('../../assets/banners/home-slide2.jpg') center center no-repeat;
    background-size: cover;
}*/

#header .slick-arrow {
    display: none !important;
}

#header .slick-dots li button::before {
    content: "\2022";
    color: #fff;
    font-size: 12px;
    opacity: 1;
}

#header .slick-dots li.slick-active button::before {
    color: #d10013;
}

#header .slick-dots {
    position: absolute;
    top: 50%;
    right: 0;
    width: auto;
    height: auto;
    transform: translateY(-50%);
    bottom: 0;
}

#header .slick-dots li {
    display: block;
}

#header .slick-dots {
    position: absolute;
    top: 50%;
    right: 40px;
    width: auto;
    height: auto;
    transform: translateY(-15%);
    bottom: 0;
}

#header .slick-dotted.slick-slider {
    margin-bottom: 0;
}


/* WELCOME */

.welcome h3 {
    margin: 10px auto 0;
    color: #6a6a6a;
    font-size: 22px;
    width: 45%;
    text-align: center;
    line-height: 1.5;
}

.welcome h2 {
    margin: 0;
    font-size: 29px;
    font-weight: bold;
    color: #454545;
    margin-top: -15px;
}

.welcome h1 {
    font-size: 99px;
    margin: 0;
    color: #454545;
}

.welcome img {
    left: -65%;
    top: -75%;
    z-index: -1;
}


/* HOME CONTENT */

.home-content img {
    right: -25%;
    top: 0;
    z-index: -1;
}

.home-content p {
    width: 33%;
    transform: translateY(-50%);
    top: 50%;
    font-size: 16px;
    line-height: 1.75;
    position: relative;
    color: #6b6b6b;
    margin: 0 30px 0;
}

.home-content {
    height: 500px;
}


/* RATES HOME */

.rate-tiles .tile p {
    font-size: 16px;
    color: #6b6b6b;
    line-height: 1.7;
}

.rate-tiles .tile h3 {
    font-size: 23px;
    margin: 25px 0;
    color: #454545;
}

.rate-tiles {
    top: 50%;
    transform: translateY(-50%);
}

.rate-section img {
    left: -35%;
    z-index: -1;
    top: -20%;
}

a.tile {
    display: block;
    text-decoration: none;
}

.rate-section {
    height: 500px;
}


/* QUICK TOUR */

#quick-tour {
    position: relative;
}

#mask-gallery {
    height: 480px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    border: 0px solid transparent;
    background: url('../../assets/banners/home-slide1.jpg') center center no-repeat;
    background-size: cover;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#mask-gallery.active {
    border: 10px solid #d09a71;
    width: 45%;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.baluster-bg-wrap {
    height: 480px;
    background: url('../../assets/home/home-capiz.png') 0 0 repeat-x;
    width: calc(100% - 280px);
    margin: 0 auto;
    display: inline-block;
    float: left;
}

.baluster-content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#quick-tour:after {
    display: block;
    clear: both;
    content: '';
}

.baluster-right {
    width: 140px;
    display: inline-block;
    float: left;
}

.baluster-left {
    width: 140px;
    display: inline-block;
    float: left;
}

.baluster-content h2 {
    font-size: 143px;
    color: #fff;
    text-shadow: 2px 5px 9px #b5754a;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.baluster-content h2.active {
    text-shadow: none;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.baluster-content a {
    display: inline-block;
    background: #d10013;
    font-size: 16px;
    text-align: center;
    padding: 16px;
    width: 80%;
    max-width: 250px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
}


/* CONTACT ROW */

div#contact-row {
    overflow: hidden;
}

.contact-row-wrap:after {
    clear: both;
    content: '';
    display: block;
}

.contact-row-wrap {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 45px 50px;
}

.contact-leaf-left {
    left: -7%;
    top: -35px;
}

.contact-leaf-right {
    right: -7%;
    top: 0;
}

.contact-label {
    font-size: 13px;
    color: #6b6b6b;
    margin-bottom: 5px;
}

.contact-detail span {
    font-size: 18px;
    color: #6b6b6b;
}

.contact-row-wrap > div:after {
    clear: both;
    content: '';
    display: block;
}


/* home page scroll image reveal*/

#welcome img {
    left: -65%;
    opacity: 1;
    z-index: -6;
    transition: all 2.5s;
    -moz-transition: all 2.5s;
    -o-transition: all 2.5s;
    -ms-transition: all 2.5s;
    -webkit-transition: all 2.5s;
}

#main img {
    right: -25%;
    opacity: 0;
    z-index: -4;
    transition: all 2.5s;
    -moz-transition: all 2.5s;
    -o-transition: all 2.5s;
    -ms-transition: all 2.5s;
    -webkit-transition: all 2.5s;
}

#main img.active {
    opacity: 1;
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -webkit-transition: all 1.5s;
}

#welcome img.active {
    opacity: 1;
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -webkit-transition: all 1.5s;
}

#rates > img {
    left: -35%;
    opacity: 0;
    z-index: -2;
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -webkit-transition: all 1.5s;
}

#rates > img.active {
    opacity: 1;
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -webkit-transition: all 1.5s;
}

div#overlay-wc-home {
    position: absolute;
    z-index: -2;
    background: #fff;
    width: 0;
    width: 1100px;
    height: 610px;
    top: -43%;
    left: -65%;
    /* opacity: 0;
    background: url(../../assets/home/home-wc-1.jpg) 0 -95px no-repeat;*/
    transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
}

div#overlay-wc-home.active {
    /*left: 35%;*/
    top: 120%;
    opacity: 1;
    transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
}

div#overlay-wc-main {
    position: absolute;
    z-index: -3;
    background: #fff;
    width: 1100px;
    height: 610px;
    top: 0;
    left: 35%;
    opacity: 1;
    transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
}

div#overlay-wc-main.active {
    /*left: -75%;
    top: 120%;*/
    opacity: 0;
    transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
}

div#overlay-wc-rates {
    left: -35%;
    opacity: 0;
    width: 717px;
    z-index: -2;
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    height: 0px;
    position: absolute;
    top: -20%;
    background: url(../../assets/home/home-tree.jpg) 0 0 no-repeat;
}

div#overlay-wc-rates.active {
    opacity: 1;
    height: 626px;
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -webkit-transition: all 1.5s;
}