#header {
    height: 400px;
    width: 100%;
}

#header h1 {
    margin: 0;
    color: #fff;
    font-size: 105px;
    position: absolute;
    text-align: center;
    line-height: 111px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(-15deg);
}

.welcome h3 {
    margin: 30px auto 15px;
    color: #555 !important;
    font-size: 30px;
    width: 55%;
    text-align: center;
    line-height: 1.35 !important;
}

#welcome p {
    font-size: 16px;
    text-align: center;
    width: 65%;
    margin: 40px auto 0;
    line-height: 1.75 !important;
    color: #555 !important;
}


@media screen and (max-width:590px) {
    #header h1 {
        font-size: 85px;
        line-height: 101px;
        transform: translateX(-50%) translateY(-40%) rotateZ(-10deg);
    }
    #welcome h3 {
        font-size: 20px;
        width: 90%;
    }
    #welcome p {
        width: 90%;
    }
}