#header {
    background: url(../../assets/banners/location-banner.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}


#header h1 {
    margin: 0;
    color: #fff;
    font-size: 160px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(-15deg);
}

a.download-btn {
    font-size: 18px;
    width: 90%;
    max-width: 310px;
    text-align: center;
    background: #dc0030;
    padding: 18px;
    border-radius: 50px;
    text-decoration: none;
    display: block;
    margin: 50px auto 85px;
    color: #fff;
    cursor: pointer;
}


.welcome h3 {
    margin: 48px auto 20px;
    font-size: 30px;
    width: 55%;
    text-align: center;
}

#welcome p {
    font-size: 16px;
    text-align: center;
    width: 60%;
    margin: 45px auto 0;
}





#direction-details {
    width:85%;
    max-width:785px;
    margin:50px auto 150px;
}

#direction-details li {
    padding: 25px 35px;
    border: 2px solid #f3f2f2;
    border-radius: 5px;
    margin-bottom:5px;
}


#direction-details ul li.active {
    border: 2px solid #96000e;
    
    transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    -ms-transition:all 0.4s;
    -webkit-transition:all 0.4s;
}


#direction-details li.active p.faq-title {
    color: #96000e;
}

p.directions-title {
    position: relative;
    padding: 15px 0;
    font-weight: bold;
    color: #555;
    padding-right: 20px;
    cursor: pointer;
}

p.directions-title.active {
    color: #96000e;
    transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    -ms-transition:all 0.4s;
    -webkit-transition:all 0.4s;
}

p.directions-detail {
    color: #555;
    padding: 20px 0 10px;
    line-height: 1.8;
    font-size: 14px;
    display: none;
}

#direction-details ul li.active p.directions-title span.plus{
    display:block;
}

#direction-details ul li.active p.directions-title span.minus{
    display:none;
}

#direction-details ul li.active p.directions-title.active  span.plus{
    display:none;
}

#direction-details ul li.active p.directions-title.active  span.minus{
    display:block;
}

span.absolute.f-bariol {
    position: absolute;
    padding: 7px 0;
    top: 50%;
    right: 0;
    color: #96000e;
    font-size: 20px;
    transform:translateY(-50%);
}





@media screen and (max-width: 590px){
    #header h1 {
        font-size: 105px;
        line-height: 101px;
        transform: translateX(-50%) translateY(-40%) rotateZ(-10deg);
    }
    
    #welcome h3 {
        font-size: 30px;
        width: 90%;
    }
}
