/* HEADER */

#header {
    background: url(../../assets/banners/rates-banner.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

#header h1 {
    margin: 0;
    color: #fff;
    font-size: 105px;
    position: absolute;
    text-align: center;
    line-height: 111px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(-15deg);
}

.welcome h3 {
    margin: 30px auto 15px;
    color: #555;
    font-size: 30px;
    width: 55%;
    text-align: center;
    line-height: 1.35;
}

#welcome p {
        font-size: 16px;
    text-align: center;
    width: 65%;
    margin: 40px auto 0;
    line-height: 1.75;
    color: #555;
}

#welcome .seebelow p {
    margin: 55px auto 25px;
    display: block;
}

.seebelow .triangle {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #96000f transparent transparent transparent;
    line-height: 0px;
    _border-color: #96000f #000000 #000000 #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
}


/* PACKAGES */

#packages {
    width: 100%;
}

.package-wrapper {
    width: 100%;
    height: 768px;
    overflow: hidden;
    position: relative;
}

.package-wrapper .package-div {
    width: 100%;
    height: 768px;
}

.package-div.attic {
    background: url(../../assets/rates-and-packages/attic/bg.jpg) no-repeat center;
    background-size: cover;
}

.package-div.cottage {
    background: url(../../assets/rates-and-packages/cottage/bg.jpg) no-repeat center;
    background-size: cover;
}

.package-div.matthews {
    background: url(../../assets/rates-and-packages/matthews/bg.jpg) no-repeat center;
    background-size: cover;
}

div#package-info {
    height: 550px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    max-width: 560px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

a.package-btn {
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    padding: 29px;
    background: #fff;
    border-radius: 100px;
    color: #aaa;
    font-size: 12px;
    text-align: center;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 1px 5px #b5b5b5;
}

.package-pagination li a.active {
    background: #fff;
    color: #555;
}
.package-pagination li a {
    display: block;
    padding: 25px 10px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    line-height: 1.2;
    border: 1px solid #fff;
    margin: 0;
    text-align: center;
    font-size: 11px;
    color: #fff;
    border-left: 0;
}

.package-pagination li {
    display: block;
    margin: 0;
}

.package-pagination {
    display: block;
    top: 50%;
    right: -36px;
    transform: translateY(-50%);
}

.package-title {
    font-size: 100px;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotateZ(-20deg);
    left: -60%;
    line-height: 1;
}

img#down-indicator {
    right: -45%;
    bottom: 0;
    z-index: 2;
}

.package-detail:after {
    clear: both;
    content: '';
    display: block;
}

#matthew-detail,
#attic-detail,
#cottage-detail {
    padding: 40px 40px;
}

.package-features ul {
    margin: 25px 0 35px;
}

.package-features ul li:before {
    content: "\f111";
    font-family: 'fontAwesome';
    font-size: 4px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: -10px;
}
.package-features ul li {
    position: relative;
    line-height: 1.75;
    list-style-type: none;
    color: #6b6b6b;
    font-size: 14px;
    padding: 2px 5px;
}

.p-o a.active {
    background: #dddddd;
}

.p-o a {
    display: inline-block;
    padding: 15px 15px;
    color: #444;
    font-weight: bold;
    border-top-left-radius: 3px;
    margin-right: 5px;
    border-top-right-radius: 3px;
    border: 1px solid #ddd;
    text-decoration: none;
    cursor: pointer;
}

.p-o-rates .item:nth-child(1) p {
    text-align: left;
}

.p-o-rates .item p {
    font-weight: bold;
    color: #444;
    text-align: center;
}

.p-o-rates .item {
    padding: 20px 15px;
    border: 1px solid #ddd;
}


/* ADDONS */

#addons ul li {
    margin-top: 5px;
    line-height: 1.75;
    position: relative;
}

#addons ul {
    font-size: 14px;
    color: #333333;
}
#addons > div:nth-child(1) > ul:nth-child(3) li:before {
    content: "\f111";
    font-family: 'fontAwesome';
    font-size: 4px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: -10px;
}
#addons > div:nth-child(1) > ul:nth-child(3) {
    margin-top: 20px;
    list-style-type: none;
    margin-left: 10px;
}

#addons > div {
    font-size: 15px;
}

div#addons h3 {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

div#addons {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 90px 15px;
}

.mobile-title {
    font-size: 20px;
    margin-top: 5px;
    color: #6b6b6b;
    display: none;
}


/* MEDIA QUERIES */

@media screen and (max-width:1280px) {
    .package-title {
        font-size: 80px;
        left: -50%;
    }
}

@media screen and (max-width:1180px) {
    .package-title {
        font-size: 70px;
        left: -45%;
    }
}

@media screen and (max-width:1110px) {
    .package-title {
        left: -40%;
    }
}

@media screen and (max-width:1050px) {
    .package-title {
        font-size: 65px;
        left: -35%;
    }
}

@media screen and (max-width:991px) {
    .package-title {
        display: none !important;
    }
    .mobile-title {
        display: block;
    }
}

@media screen and (max-width:768px) {
    #addons > div:nth-child(2) {
        margin-top: 30px;
    }
    .welcome h3 {
        width: 75%;
    }
}

@media screen and (max-width:640px) {
    #addons > div:nth-child(2) {
        margin-top: 30px;
    }
    .package-pagination {
        display: none;
    }
}


@media screen and (max-width:539px) {
#matthew-detail, #attic-detail, #cottage-detail {
    padding: 40px 20px;
}
    div#package-info {
        height: auto;
        min-height: 550px;
    }
}


@media screen and (max-width:590px) {
    #header h1 {
        font-size: 85px;
        line-height: 101px;
        transform: translateX(-50%) translateY(-40%) rotateZ(-10deg);
    }
    #welcome h3 {
        font-size: 20px;
        width: 90%;
    }
    #welcome p {
        width: 90%;
    }
    div#package-info {
        width: 90%;
    }
    .package-features {
        padding: 0 0 0 5px;
    }
    .package-features ul {
        margin: 25px 0 25px;
    }
    .package-features ul li,
    .p-o-rates .item p,
    .p-o a {
        font-size: 13px;
    }
    .package-features ul li {
        padding:2px;
    }
}






@media screen and (max-width:404px) {
    .p-o a {
    font-size: 11px !important;
    margin: 0 !important;
}
}