#header {
    background: url(../../assets/banners/reservation-banner.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}

#header h1 {
    margin: 0;
    color: #fff;
    font-size: 140px;
    position: absolute;
    text-align: center;
    line-height: 105px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(-15deg);
}

#welcome h3 {
    font-size: 30px;
    width: 60%;
    line-height: 1.3;
    margin: 20px auto 0px;
}

.line {
    height: 1px;
    background: #e9e9e9;
    width: 100%;
}

#welcome p {
    font-size: 16px;
    text-align: center;
    width: 67%;
    margin: 33px auto 65px;
    line-height: 1.7;
    color: #6b6b6b;
}

p.helper {
    font-style: italic;
    font-size: 12px;
    color: #6a6a6a;
    padding: 0 !important;
    margin: 10px 0 !important;
}

#reservation-details form {
        padding: 45px 0 100px;
    width: 100%;
    max-width: 815px;
    margin: 0 auto;
}

#reservation-details form h3 {
    padding: 0 15px;
    margin-bottom: 10px;
    color:#3b3a3a;
}

form h3 {
    font-size: 16px !important;
    font-weight: bold;
    color: #3b3a3a;
    margin: 30px 0;
}

form label > span {
    color: #dc0030;
}

#welcome p a,
p.helper a {
    color: #96000e;
    text-decoration: none;
    font-weight: bold;
}

#reservation-details .form-section {
    margin: 20px 0 10px;
}

#reservation-details label {
    font-size: 13px;
    color: #444;
    margin: 0 0 10px 0;
    font-family: 'Open Sans';
}

#reservation-details input,
#reservation-details select,
#reservation-details textarea {
    width: 100%;
    display: block;
    margin-top: 5px;
    border: 1px solid #ccc;
    padding: 13px 10px;
    border-radius: 3px;
    font-size: 14px;
    color: #6b6b6b;
    font-family: 'Open Sans';
    position:relative;
    padding-right:30px;
}

#reservation-details select option {
    padding: 15px 10px;
}

.thankyouwrap span {
    font-weight: bold;
    color: #c0272f;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
}


button#submit, input#submit {
    width: 90%;
    max-width: 250px;
    color: #fff;
    border: 0;
    background: #96000e;
    font-weight: normal;
    padding: 18px;
    border-radius: 50px;
    font-size: 18px;
    margin-top: 25px;
    outline: 0;
    font-family: 'Playfair Display';
    margin: 0 auto;
}

.thankyouwrap p {
    color: #6b6b6b;
    width: 50%;
    margin: 30px auto 0;
}

.thankyouwrap h3 {
    color: #6b6b6b;
    font-size: 60px;
}

.thankyouwrap {
    width: 90%;
    background: url('../../assets/thankyou-bg.jpg') center center no-repeat;
    background-size:cover;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 10px;
    padding: 90px 20px;
}

.thankyou {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display:none;
        z-index: 99;
}

.calendar:after {
    content: "\f073";
    display: block;
    font-family: 'fontAwesome';
    position: absolute;
    top: 45px;
    right: 30px;
    color: #bdbdbd;
    font-size: 17px;
}

.time:after {
    content: "\f017";
    display: block;
    font-family: 'fontAwesome';
    position: absolute;
    top: 45px;
    right: 30px;
    color: #bdbdbd;
    font-size: 17px;
}

div#contact-section > div {
    margin-bottom: 20px;
}

@media screen and (max-width:600px) {
    #header h1 {
        font-size: 60px !important;
        line-height: 70px;
    }
}

@media screen and (max-width:767px) {
    #details {
        text-align: center;
        border-top: 1px dotted #ddd;
        margin-top: 50px;
    }
    #details p {
        display: inline-block;
        vertical-align: top;
        padding: 0 35px;
    }
}

@media screen and (max-width:500px) {
    #details {
        padding: 0 !important;
    }
    #details p {
        display: block;
        vertical-align: top;
        padding: 0 15px;
        width: 100%;
        text-align: left;
    }
    .thankyouwrap p {
        width: 85%;
    }
}



/* DATEPICKER CSS OVERRIDES*/
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #96000e !important;
}

.datepicker {
    font-family: 'Open Sans';
    color: #6b6b6b;
}

.btn-primary {
    color: #fff;
    background-color: #96000e;
    border-color: #96000e;
    font-family: 'Open Sans';
}

.btn-primary:hover {
    color: #fff;
    background-color: #d03947;
    border-color: #d03947;
    font-family: 'Open Sans';
}

span.timepicker-hour, span.timepicker-minute {
    font-family: 'Open Sans';
    color: #6b6b6b;
}


.bootstrap-datetimepicker-widget a[data-action] {
    color: #6b6b6b;
}