/* STYLE CLASSES */

.spacer5 {
    display: block;
    clear: both;
    height: 5px
}

.spacer10 {
    display: block;
    clear: both;
    height: 10px
}

.spacer15 {
    display: block;
    clear: both;
    height: 15px
}

.spacer20 {
    display: block;
    clear: both;
    height: 20px
}

.spacer25 {
    display: block;
    clear: both;
    height: 25px
}

.spacer30 {
    display: block;
    clear: both;
    height: 30px
}

.spacer35 {
    display: block;
    clear: both;
    height: 35px
}

.spacer40 {
    display: block;
    clear: both;
    height: 40px
}

.spacer45 {
    display: block;
    clear: both;
    height: 45px
}

.spacer50 {
    display: block;
    clear: both;
    height: 50px
}

.clear {
    clear:both;
}

.center {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}


/* FONT CLASSES */

.f-playfair {
    font-family: 'Playfair Display';
}

.f-masterofbreak {
    font-family: 'master-of-break';
}

.f-bariol {
    font-family: 'bariol-reg';
}

.f-opensans {
    font-family: 'Open Sans';
}

.f-awesome-script {
    font-family: 'awesome-script';
}

.f-trajan-reg {
    font-family: 'trajan-reg';
}

.f-trajan-bold {
    font-family: 'trajan-bold';
}

.f-lora {
    font-family: 'Lora';
}

.transition {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}


/* SHARED STYLES */

.bodywrap {
    position: relative;
    left: 0;
    top: 0;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.bodywrap.mobile-nav-open {
    left: -200px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}


/* =============
    CONTENT 
============= */

#content-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.content-wrap {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}


/* MAP */
#map {
    width: 100%;
    clear: both;
    height: 320px;
}


/* FOOTER */
#footer {
    width: 100%;
    background: #96000e;
    padding: 40px 0;
}

.footer-wrap {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

#footer:after,
.footer-wrap:after,
.footer-item:after {
    clear: both;
    display: block;
    content: '';
}

.footer-item > div {
    padding: 0;
    margin: 0;
}

.footer-wrap h3 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

#footer-logo,
.footer-item h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer-item p {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

.footer-wrap a,
.footer-wrap p,
.footer-wrap span,
.footer-wrap li {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
}

img#footer-logo {
    width: 200px;
    margin-bottom: 25px;
    display: block;
}


.footer-item img {
    margin: 0 15px 0 0;
}

.footer-item ul {
    padding: 0;
    margin-right: 25px;
}

.footer-item h3#quick-links {}

.footer-item h3#social {}

.footer-item h3#other-resort {
    margin-top: 20px;
    margin-bottom: 5px;
}
