/* MAIN NAVIGATION */

#main-navigation {
    width: 100%;
    background: #fff;
    box-shadow: 0 -10px 45px #7b7b7b;
    padding: 20px 0 20px 0;
    z-index: 1000000;
    position: relative;
}

div#menu-toggle {
    cursor: pointer;
    color: #626262;
    font-size: 20px;
    float: right;
    padding: 10px;
    display: none;
    transform: rotateZ(0deg);
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

div#menu-toggle.mobile-nav-open {
    transform: rotateZ(90deg);
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

#main-navigation .nav-wrap {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

#main-navigation .nav-wrap:after {
    content: '';
    display: block;
    clear: both;
}

#main-navigation .nav-wrap .logo {
    float: left;
}

#main-navigation .nav-wrap .logo img {
    display: block;
    width: 195px;
}

#main-navigation .nav-wrap .nav-menu {
    float: right;
}

#main-navigation .nav-wrap .nav-menu li {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}

#main-navigation .nav-wrap .nav-menu li a {
    font-family: 'Playfair Display';
    font-size: 16px;
    color: #626262;
    text-decoration: none;
    display: block;
    margin: 15px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#main-navigation .nav-wrap .nav-menu li a:hover {
    color: #d10013;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#main-navigation .nav-wrap .nav-menu li:last-child a {
    margin-right: 0;
}

.main-leaf {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#mobile-clearer {
    display: none;
    clear: both;
}


/* =================================
NAV and FOOTER RESPONSIVE */

@media screen and (max-width:1040px) {
    
   
    
    #main-navigation.fixednav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        box-shadow: 0px -15px 40px #868686;
        transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

    #main-navigation.fixednav.mobile-nav-open {
        left: -200px;
        transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }
    
    div#menu-toggle,
    #mobile-clearer {
        display: block;
    }
    #main-navigation .nav-wrap .nav-menu:before {
        clear: both;
        content: '';
        display: block;
    }
    #main-navigation .nav-wrap .nav-menu {
        float: none;
        text-align: center;
        display: none;
    }
    #main-navigation .nav-wrap .nav-menu li {
        display: block;
    }
    #main-navigation .nav-wrap .nav-menu li a {
        margin-right: 0;
    }
    .nav-menu li a {
        font-family: 'Playfair Display';
        color: #060606;
        padding: 15px 35px;
        display: block;
        font-size: 16px;
        background: #fff;
        text-decoration: none;
        width: 200px;
        text-align: center;
        transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    .nav-menu li a:hover {
        color: #d10013;
        transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }
    .nav-menu {
        position: fixed;
        top: 0;
        right: -999px;
        text-align: center;
        z-index: 99999999;
        height: 100%;
        padding-bottom: 99999999px;
        background: #fff;
        margin-bottom: -9999px;
        padding-top: 20px;
        box-shadow: 5px 0px 20px #808080;
        transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -webkit-transition: all 0.4s;
    }
    .nav-menu.mobile-nav-open {
        right: 0;
        transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }
}

@media screen and (max-width:991px) {
    .footer-wrap > div:nth-child(1) {
        border-bottom: 1px dotted #ab202d;
        padding-bottom: 35px;
        padding-top: 0;
    }
    .footer-wrap > div > div,
    .footer-wrap > div > ul {
        margin: 0;
        padding: 0;
    }
    .footer-wrap .fa-map-marker {
        display: none;
    }
    .footer-wrap #footer-logo {
        float: none;
        display: block;
        margin: 0 auto 30px;
    }
    .footer-wrap > div {
        text-align: center;
        padding: 15px;
    }
    .footer-wrap {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }
}



.nav-overlay {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    display:none;
    cursor: url(../assets/close.png), auto;
    transition:all 0.4s;
    -ms-transition:all 0.4s;
    -o-transition:all 0.4s;
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
}

.nav-overlay.mobile-nav-open {
    display:block;
    transition:all 0.4s;
    -ms-transition:all 0.4s;
    -o-transition:all 0.4s;
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
}