@font-face {
  font-family: 'bariol-reg';
  src: url('bariol_regular-webfont.eot');
  src: url('bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('bariol_regular-webfont.woff') format('woff'),
       url('bariol_regular-webfont.ttf') format('truetype'),
       url('bariol_regular-webfont.svg#svgBariol') format('svg');
}

@font-face {
  font-family: 'bariol-bold';
  src: url('bariol_bold-webfont.eot');
  src: url('bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('bariol_bold-webfont.woff') format('woff'),
       url('bariol_bold-webfont.ttf') format('truetype'),
       url('bariol_bold-webfont.svg#svgBariolBold') format('svg');
}

@font-face {
    font-family: 'bariol-thin';
    src: url('bariol_thin-webfont.eot');
    src: url('bariol_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('bariol_thin-webfont.woff') format('woff'),
         url('bariol_thin-webfont.ttf') format('truetype'),
         url('bariol_thin-webfont.svg#bariolthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
